<!-- <p>cart works!</p> -->
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price (INR/Kg)</th>
        <th scope="col">ID</th>
        <th scope="col">Image</th>
        <th scope="col">Quantity(Kg)</th>
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
    </thead>
    
     <tbody>
      <tr *ngFor="let data of details">
        <th scope="row">{{data.Name}}</th>
        <td>{{data.Price}}</td>
        <td>{{data.Id}}</td>
        <td><img src="{{data.path}}" alt=""></td>
        <td>
          <button (click)="decrease2(data)">-</button>
            {{data.Quantity}}
            <button (click)="increase2(data)">+</button>
            
        </td>
       
        <td>
          <button (click)="remove2(data)">Remove</button>
      </td>
       
      </tr>
      <th><button (click)="cost()">Total Cost</button></th>
      <th scope="row">Total Cost: {{tc}}</th>
    </tbody>
  </table> 
  
  
  